{% extends 'primary.html' %}
{% load crispy_forms_tags %}
{% block primary %}
<div>
    <section id="heroy" class=" tm-parallax">
      
        <div class=" tm-hero-text-container">
              <div id="frm">
                  <h3 class="head">Update Your Profile</h3>
                  <div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{uform|crispy}}
                            {{iform|crispy}}
                        <button class="btn" type="submit">Confirm</button>
                    </form>
                  </div>
              </div>
               
        </div>
    </section>

</div>
{% endblock %}