{% extends "basestory.html" %}
{% block StoryPost %}
<div id="storydetail">
    <div>
          <section id="introduction" class="tm-section-pad-top-y ">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <img src="{{object.StoryPostImage.url}}" alt="Image" class="img-fluid tm-intro-img hb-imgz" />
                  </div>
                  <div class="col-12">
                    <div id="write" class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-1 tm-section-title pr-1">{{object.StoryPostTitle}}</h2>
                        <div class="d-flex justify-content-start">
                          <p class="mb-1 tm-intro-text pr-2"> {{object.StoryPostTime|date:"F d, Y  | "}} </p>
                          <a href="#" class="text-info">{{object.StoryPostAuthor}}</a>
                        </div>
                        <div>
                          <p class="mb-4 tm-intro-text"> {{object.StoryPostBody1|safe}} </p>
                          <img src="{{object.StoryPostBodyImage.url}}" alt="Image" class="img-fluid tm-intro-img hb-img" />
                          <p class="mb-4 tm-intro-text"> {{object.StoryPostBody2|safe}} </p>
                          <p class="mb-4 tm-intro-text"> {{object.StoryPostBody3|safe}} </p>
                        </div>
                        
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
</div>
{% endblock %}