{% extends 'headerfooter.html' %}
{% block content %}
<div class="py-5 container">
        <div class="mt-3 bg-primary rounded">
                <h2 class="p-2 text-white">{{obj.DnsName}}</h2>
        </div>
        <div class="row">
                <div class="col-3 col-lg-3 border-right">
                        <div class="pt-1">
                                <table class="table table-hover table-bordered">
                                        <thead class="bg-primary">
                                                <tr>
                                                        <th class="text-white">Domain Service</th>
                                                </tr>
                                        </thead>
                                        <tbody class="bg-light bg-gradient">
                                                <tr>
                                                        <td><a href="#">Domain Settings</a></td>
                                                </tr>
                                                <tr>
                                                        <td><a href="{% url 'DomainName' %}">My Domains</a></td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <form action="{% url 'DomainNameserver' %}" method="POST">
                                                                        {% csrf_token %}
                                                                        <div style="display: none;">
                                                                                <input name="DnsName" type="text" value="{{obj.DnsName}}">
                                                                        </div>
                                                                        <button class="text-primary btn" type="submit">
                                                                                Nameserver
                                                                        </button>
                                                                </form>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td><a href="#">Transfer Domain</a></td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
                <div class="col-9 col-lg-9">
                        <h2 class="border-bottom pb-2 text-muted">Email Forwarding :  {{obj.DnsName}}</h2>
                        <div>
                                <form action="{% url 'DnsEmailForwardSave' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                                <div class="col-4">
                                                        <h4>Prefix</h4>
                                                        <input type="text" name="prefix" class="container-fluid" required>
                                                </div>
                                                <div class="col-4">
                                                        <h4></h4>
                                                        <center class="pt-4"><h4>@{{obj.DnsName}} =></h4></center>
                                                </div>
                                                <div class="col-4">
                                                        <h4>Forward To:</h4>
                                                        <input type="text" name="forward" class="container-fluid" required>
                                                </div>
                                        </div>
                                        <div style="display: none;"><input name="DnsName" type="text" name="DnsName" value="{{obj.DnsName}}"></div>
                                        <button class="btn btn-success">Save change</button>
                                </form>
                        </div>
                        <div class="p-3">
                                <ul>
                                        {% for objx in objxs %}
                                        <li>
                                                <p>{{objx.prefix}}@{{objx.DnsName}} forward to => {{objx.forward}}</p>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>        
                </div>
        </div>
</div>
{% endblock %}