
// password show css 

.inputBox{
    position: relative;

    input{
        border: 1px .1px 1px 1px;
        border-radius: 5px 0px 0px 5px;
        outline: 0px solid transparent;
    }
    #toggley{
        position: relative;
        border: 1px solid rgb(201, 200, 200);
        border-radius: 0px 5px 5px 0px;
        width: 40px;
        height: 38px;
        cursor: pointer;
        padding: 8px;
        // background: url('../img/password_eye.png');
        // background-size: cover;

    }
}


.inputBox2{
    position: relative;

    input{
        border: 1px .1px 1px 1px;
        border-radius: 5px 0px 0px 5px;
        outline: 0px solid transparent;
    }
    #toggley2{
        position: relative;
        border: 1px solid rgb(201, 200, 200);
        border-radius: 0px 5px 5px 0px;
        width: 40px;
        height: 38px;
        cursor: pointer;
        padding: 8px;
        // background: url('../img/password_eye.png');
        // background-size: cover;

    }
}