
{% extends 'headerfooter.html' %}
{% block content %}
<div class="p-5 container">
        <div class="pt-3">
                {% if DomainSearch %}
                <center>
                        <form action="{% url 'DomainSearchResultPage' %}" method="POST">
                                {% csrf_token %}
                                <div style="width: 600px;" class="input-group p-5">
                                        <div style="width: 70%;" class="border-0">
                                                <input name="name" value="{{name}}" type="text" class="form-control " aria-label="Text input with segmented dropdown button">
                                        </div>
                                        <select style="width: 20% ;" name="tld" class="custom-select" id="inputGroupSelect06">
                                                <option style="display: none;" value="{{tld}}">{{tld}}</option>
                                                <option value=".com">.com</option>
                                                <option value=".org">.org</option>
                                                <option value=".net">.net</option>
                                                <option value=".biz">.biz</option>
                                                <option value=".xyz">.xyz</option>
                                        </select>
                                        <div style="width: 10%;" class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                                        </div>
                                </div>
                        </form>

                        <div class="bg-primary rounded-pill py-2">
                                {% if omc is True %}
                                <h2 class="p-2" >
                                        <div class="d-flex justify-content-center align-items-center">
                                                <input name="dnsname" type="text" value="{{name}}{{tld}}" class="bg-primary text-white" style=" pointer-events: none; border: none; outline: none;">
                                                <button style="height: 45px;" class="btn btn-light px-5" type="#"> Unavailable </button>
                                        </div>
                                </h2>
                                {% else %}
                                <h2 class="p-2" >
                                        <form action="{% url 'UploadDataView' %}" method="POST">
                                        {% csrf_token %}
                                                <div class="d-flex justify-content-center align-items-center">
                                                        <input name="dnsname" type="text" value="{{name}}{{tld}}" class="bg-primary text-white" style=" pointer-events: none; border: none; outline: none;">
                                                        <button style="height: 45px;" class="btn btn-light px-5" type="submit">Buy </button>
                                                </div>
                                        </form> 
                                </h2>
                                {% endif %}
                        </div> 
                </center>
                <div class="py-3 container" style="width: 800px;">
                        <div style="display: none;"><% import socket %></div>
                        <table class="table">
                                <thead class="thead">
                                        <tr>
                                                <td>No</td>
                                                <td>Chose Your Domain Name</td>
                                                <td>Price</td>
                                                <td>Buy</td>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                {% if com is True %}
                                                        <td>1</td>
                                                        <td class="text-secondary"><input name="dnsname" type="text" value="{{name}}.com" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td class="text-secondary"></td>
                                                        <td><button class="btn btn-secondary" type="#">Unavailable</button></td>
                                                {% else %}
                                                <form action="{% url 'UploadDataView' %}" method="POST">
                                                {% csrf_token %}
                                                        <td scope="row">1</td>
                                                        <td><input name="dnsname" type="text" value="{{name}}.com" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td>$12</td>
                                                        <td><button class="btn btn-danger" type="submit">BUY</button></td>
                                                {% endif %}
                                                </form>
                                        </tr>
                                        <tr>
                                                {% if org is True %}
                                                        <td>2</td>
                                                        <td class="text-secondary"><input name="dnsname" type="text" value="{{name}}.org" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td class="text-secondary"></td>
                                                        <td><button class="btn btn-secondary" type="#">Unavailable</button></td>
                                                {% else %}
                                                <form action="{% url 'UploadDataView' %}" method="POST">
                                                {% csrf_token %}
                                                        <td scope="row">2</td>
                                                        <td><input name="dnsname" type="text" value="{{name}}.org" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td>$15</td>
                                                        <td><button class="btn btn-danger" type="submit">BUY</button></td>
                                                {% endif %}
                                                </form>
                                        </tr>
                                        <tr>
                                                {% if net is True %}
                                                        <td>3</td>
                                                        <td class="text-secondary"><input name="dnsname" type="text" value="{{name}}.net" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td class="text-secondary"></td>
                                                        <td><button class="btn btn-secondary" type="#">Unavailable</button></td>
                                                {% else %}
                                                <form action="{% url 'UploadDataView' %}" method="POST">
                                                {% csrf_token %}
                                                        <td scope="row">3</td>
                                                        <td><input name="dnsname" type="text" value="{{name}}.net" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td>$12</td>
                                                        <td><button class="btn btn-danger" type="submit">BUY</button></td>
                                                {% endif %}
                                                </form>
                                        </tr>
                                        <tr>
                                                {% if biz is True %}
                                                        <td>4</td>
                                                        <td class="text-secondary"><input name="dnsname" type="text" value="{{name}}.biz" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td class="text-secondary"></td>
                                                        <td><button class="btn btn-secondary" type="#">Unavailable</button></td>
                                                {% else %}
                                                <form action="{% url 'UploadDataView' %}" method="POST">
                                                {% csrf_token %}
                                                        <td scope="row">4</td>
                                                        <td><input name="dnsname" type="text" value="{{name}}.biz" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td>$18</td>
                                                        <td><button class="btn btn-danger" type="submit">BUY</button></td>
                                                {% endif %}
                                                </form>
                                        </tr>
                                        <tr>
                                                {% if xyz is True %}
                                                        <td>5</td>
                                                        <td class="text-secondary"><input name="dnsname" type="text" value="{{name}}.xyz" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td class="text-secondary"></td>
                                                        <td><button class="btn btn-secondary" type="#">Unavailable</button></td>
                                                {% else %}
                                                <form action="{% url 'UploadDataView' %}" method="POST">
                                                {% csrf_token %}
                                                        <td scope="row">5</td>
                                                        <td><input name="dnsname" type="text" value="{{name}}.xyz" style=" pointer-events: none; border: none; outline: none;"></td>
                                                        <td>$10</td>
                                                        <td><button class="btn btn-danger" type="submit">BUY</button></td>
                                                {% endif %}
                                                </form>
                                        </tr>
                                </tbody>
                        </table>
                </div>
                {% elif DomainNameAlreadyRegistered %}
                <center>
                        <h3>Domain name is not valid</h3>
                        <h4 class="text-muted">{{DomainNameAlreadyRegistered }}  </h4>
                </center>
                {% else%}
                <center>
                        <h2>Please put a Valid domain name</h2>
                        <h5>Invalid TLD </h5>
                </center>
                {% endif %}
        </div>
</div>
{% endblock %}