{% extends 'headerfooter.html' %}
{% load crispy_forms_tags %}
{% block log%}
<div class="pt-5 container d-flex justify-content-center pb-4">
        <div class="bg-secondary m-3 p-5 rounded" style="width:50%" >
                <form action="" method="POST" style="width: 90%;">
                        {% csrf_token %}
                        <div>
                                <h3>Change Your Password</h3>
                        </div>
                        {{ form|crispy }}
                        <button type='submit' class="btn btn-info mt-3">Change Password</button>
                </form>
        </div>
</div>
{% endblock %}
