{% extends 'headerfooter.html' %}
{% block content %}
<div class="container py-5">
    <div class="pt-5 d-flex justify-content-center">
        <form action="{% url 'update_password' %}" method="POST"  style="width: 400px;">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Old Password</label>
              <input name="old_password" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your old password">
              <small id="emailHelp" class="form-text text-muted"> 
                <a href="{% url 'PasswordReset' %}">Forget Old Password ?</a>
                </small>
            </div>
            <label for="password">New Password</label>
            <div class="inputBox form-group d-flex justify-content-center">
              <input  name="new_password1" type="password" class="form-control" id="password" placeholder="New Password">
              <div id="toggley" class="" onclick="show_hide()">
                <i id="eye" class="far fa-1x fa-eye-slash"></i>
              </div>
            </div>
            <label  class="" for="">Confirm New Password</label>
                <div class="inputBox2 d-flex justify-content-center">
                    <input  name="new_password2" type="password" class=" form-control" id="password2" placeholder="Confirm New Password">
                            <div id="toggley2" class="bg-white" onclick="show_hide2()">
                                    <i id="eye2" class="far fa-1x fa-eye-slash"></i>
                            </div>
                     </div>
            <div class="py-3">
                <div class="g-recaptcha" data-sitekey="6LcV9AkdAAAAAI0jdDOLUJLtrJgqs8MsUBWdYXdT"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
</div>
{% endblock  %}