{% extends 'headerfooter.html' %}
{% block content %}
<div class="py-5 container">
        <div class="mt-3 bg-primary rounded">
                <h2 class="p-2 text-white">{{obj.DnsName}}</h2>
        </div>
        <div class="row">
                <div class="col-3 col-lg-3 border-right">
                        <div class="pt-1">
                                <table class="table table-hover table-bordered">
                                        <thead class="bg-primary">
                                                <tr>
                                                        <th class="text-white">Domain Service</th>
                                                </tr>
                                        </thead>
                                        <tbody class="bg-light bg-gradient">
                                                <tr>
                                                        <td><a href="#">Domain Settings</a></td>
                                                </tr>
                                                <tr>
                                                        <td><a href="{% url 'DomainName' %}">My Domains</a></td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <form action="{% url 'DomainNameserver' %}" method="POST">
                                                                        {% csrf_token %}
                                                                        <div style="display: none;">
                                                                                <input name="DnsName" type="text" value="{{obj.DnsName}}">
                                                                        </div>
                                                                        <button class="text-primary btn" type="submit">
                                                                                Nameserver
                                                                        </button>
                                                                </form>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td><a href="#">Transfer Domain</a></td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
                <div class="col-9 col-lg-9">
                        <h2 class="border-bottom pb-2 text-muted">Managing :  {{obj.DnsName}}</h2>
                        <div>
                                <h4 class="text-muted">Domain Secret Key</h4>
                                <div class="pt-3 ">
                                        <div style="background-color: antiquewhite;" class="d-flex justify-content-left align-items-center p-5">
                                            <h5 >Domain Secret Key: </h5>
                                            <div class="ml-3 mb-2">{{domain_secret_key}}</div>
                                        </div>
                                </div>
                        </div>        
                </div>
        </div>
</div>
{% endblock %}