
#frmp{
    background-color: #1D3557;
    color:rgb(188, 193, 193);
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
    input{
        padding: 7px;
        margin-bottom: 15px;
    }
    button{
        background-color: rgb(158, 172, 172);
        padding: 5px 15px;
        border-radius: 10px;
    }
    button:hover{
        background-color: azure;
    }
    .para{
        color:rgb(158, 172, 172);
        padding-top: 5px;
    }
    .para2{
        color:azure;
        display: flex;
        justify-content: center;
        a{
            padding-left: 10px;
        }
    }
    .head{
        color: azure;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            padding-left: 7px;
        }
    } 
}

  
