{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="WasiLab, Web Service in Bangladesh, wasi">
    <meta name="description" content="We make your Website Impressive. On-premises, hybrid, multicloud, or at the edge—create secure, future-ready cloud solutions on WasiLab">
    <meta name="author" content="WasiLab">
    <link rel="icon" type="jpg/png" href="https://toppng.com/uploads/preview/brand-identity-dove-cosmetics-logo-logotype-svg-11563058345hlxw6lyhol.png">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>WasiLab Corporation</title>
    {% endif  %}
    <link rel="stylesheet" href="{% static 'others/bootstrap/css/bootstrap-grid.min.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcQ1gkdAAAAANoaqKJD8GOJHHY42kq_POwmuXj2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>