{% extends 'headerfooter.html' %}
{% block content %}
<div class="py-5 container">
        <div class="center">
                <form action="{% url 'cart' dnsname %}" method="POST">
                        {% csrf_token %}
                        <center>
                                <div>
                                        <h3>Cart 10 $ </h3>
                                        {% if DnsName %}
                                        <h5>{{DnsName}}</h5>
                                        {% endif %}
                                </div>
                                <div style="display: none;">
                                        {% if DnsName%}
                                        <textarea name="DnsName" id="" cols="30" rows="10">{{DnsName}}</textarea>
                                        {% endif %}
                                </div>
                                <button class="btn btn-danger" type='submit'>Confirm</button>
                        </center>
                </form>
        </div>
</div>
{% endblock %}